
*{
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 100;
}
body{
    direction: rtl;
    background-image: url('./images/gargantua-black-2880x1800-9621.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.card{
    background-color: rgba(0, 0, 0, 0.507);
    width: 50%;
    height: 40%;
    min-width: 30rem;
    min-height: 10rem;
    padding: 1rem;
    border-radius: 1rem;
}
h1{
    text-align: center;
    margin-top: 10px;
}
form{
    position: relative;
}
input{
    border-bottom: 2px solid;
    border-radius: 8px;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 75px;
    color: black;
}
input::placeholder{
    color: rgb(0, 0, 0);
    text-align: center;
}
button{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('./images/search.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.links{
    margin-top: 70px;
    display: flex;
    direction: ltr;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
a img{
    width: 1.3rem;
}

